<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="businessHours">
            <h2><span>Business Hours</span> {{ businessHours.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Day</span></dt>
                <dd>
                    <span>{{ businessHours.day }}</span>
                </dd>
                <dt><span>Opening Time</span></dt>
                <dd>
                    <span>{{ businessHours.openingTime }}</span>
                </dd>
                <dt><span>Closing Time</span></dt>
                <dd>
                    <span>{{ businessHours.closingTime }}</span>
                </dd>
                <dt><span>Restaurant</span></dt>
                <dd>
                    <div *ngIf="businessHours.restaurant">
                        <a [routerLink]="['/restaurant', businessHours.restaurant?.id, 'view']">{{ businessHours.restaurant?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/business-hours', businessHours.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
